.title{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 70px;
    top:30px;
    font-size: 50px;
    letter-spacing: 20px;
}

.mainbody{
    position: absolute;
    width: 100%;
    height: 100%;
    top:100px;
    background-color: antiquewhite;
}

.class1{
    position: relative;
    width: 100%;
    height: 25%;
    top:0;
    background-color: #ffd4c7;
    text-align: center;
}

.class2{
    position: relative;
    width: 100%;
    height:25%;
    top:0;
    background-color: #55c1ae;
}

.class3{
    position: relative;
    width: 100%;
    height:25%;
    top:0;
    background-color: #ffd4c7;
}

.class4{
    position: relative;
    width: 100%;
    height:25%;
    top:0;
    background-color: #55c1ae;
}

.left-div{
    position: absolute;
    width: 15%;
    height: 100%;
    top:0;
    left:0;
}

.middle-div{
    position: absolute;
    width:5%;
    height: 100%;
    top:0;
    left: 15%;
}

.right-div{
    position: absolute;
    width:80%;
    height: 100%;
    top:0;
    left: 20%;
}

.classNameLabel{
    position: relative;
    top:45%;
    font-size: 20px;
}

#addCourseBtn{
    position: absolute;
    top:60px;
    left: 70%;
    width: 10%;
    height: 5%;
}
